@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
  background-color: #84ded8;
  border-color: #C586AA;
}
select,input,textarea{
  border: 1px solid #c2c2c2;
  outline: color(srgb red green blue);
  border-radius: 4px;
}

.menu-item {
  @apply flex items-center gap-3 py-3 px-4 rounded-lg hover:bg-gray-200 transition-all cursor-pointer;
}

.menu-icon {
  @apply w-5 h-5;
}

.dropdown {
  @apply flex items-center justify-between;
}

.dropdown-content {
  @apply ml-8 mt-1;
}

.submenu-item {
  @apply block py-2 px-4 rounded-lg hover:bg-gray-200 transition-all;
}
